body {
    font-family: sans-serif;
}

header {
    color: gray;
    text-align: center;
}

section {
    padding: 15px;
}

p {
    margin: 15px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}